@import 'utilities.css';
:root{
        --primary:#3DCFD3; /* bluish */
        --dark:#161616; /* black */
        --pure:#FFFFFF; /* white */
        --ternary:#898989; /* gray */
        --light:#F2F2F2; /* whitish */
}




/* Common class 
to default padding, margin properties etc */

*{
        padding:0;
        margin:0;
        box-sizing: border-box;
        -webkit-font-smoothing:antialiased; /*tt*/


}
/* declaring info about header */
header{
        background: var(--dark);
        clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%)


        
        
}

body{
    font-family:'Poppins',sans-serif;
    
}

html{
        scroll-behavior:smooth;
}


/* Container class for nav */
.container{
        max-width:1152px;
        /* top right bottom left */
        padding:0 15px; 
        margin:0 auto;
}

.containerCarousel{
        /* top right bottom left */
        padding:0 15px; 
        margin:0 auto;
}

header nav .left a{
        color: var(--pure);
        text-decoration: none;
        margin-right: 2rem;
        text-transform: uppercase;
        transition: all .3s ease; /* Code below deliberately missed */
}

/* curious for its function */
header nav{
        
    padding: 2rem 0;
}

header nav .branding{
        margin-right: 3rem;
}


header nav .left a:hover{
        color: var(--primary);
}

/* To move button away from links  */                 
header nav .right{
        margin-left: 10rem;
        
}
.middle .right {
        margin-right: 3rem;
}
.middle .left img{
        width: 300px;
        margin-right:1rem;
}

.middle .right h4{
        font-size:1.6rem;
        color:var(--primary);
        margin-bottom:0.5rem ;

}

.middle .right h1{
        color:var(--pure);
        font-size:4rem;
        font-weight:100;
        line-height:1.2;
        margin-bottom: 2rem;
}

.middle .right .paragraph {
        color: var(--pure);
        margin-right: 3rem;
        line-height: 1.9;
        margin-bottom: 2rem;
}

.middle .right span
{
        color:var(--primary);

}

.middle .right{
        margin-top: -7rem;
}

section
{
        padding:6rem 0;
        background-color: var(--pure);
}

.about .container .left img{
        width:400px
}

.about .container .right .content h1{
        color:var(--dark);
        margin-bottom:1rem;
        font-size:4rem;
        font-weight:400;
}

.about .container .right .content h3{
        color:var(--dark);
        font-size: 3rem;
        margin-bottom:1rem;
        font-weight:400;
}

.about .container .right .content h1 span{
        color:var(--primary);
}

.about .container .left h1{
        color:var(--dark);
        margin-bottom:1rem;
        font-size:4rem;
        font-weight:400;
}

.about .container .right .content p{
        font-family:'Lato',sans-serif;
        color:var(--ternary);
        line-height:1.8;
}


.about .container .left h1{
        color:var(--primary);
}

.about .container .left h4{
        font-family:'Lato',sans-serif;
        color:var(--ternary);
        font-size: 2rem;
        margin-bottom:1rem;
        font-weight:400;
}

.pContactUs{
        text-align: center;
}


.contact .container .cardwrapper .Phone img{
        width:20px
        
}

.contact .container .cardwrapper .Email img{
        width:30px
        
}

.contact .container .cardwrapper .Office img{
        width:40px
        
}

.contact .container .cardwrapper{
        margin-top : 6rem;
        margin-left : 1.5rem;
        text-align: center;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
}

.contact .container form{
        margin-top:2rem;
}
.contact .container .input-wrap
{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-gap:2rem;
        
        
}
.contact .container input, textarea{
        padding:0.5rem;
        margin-bottom:2rem;
        font-size: 0.9rem;
}
.contact .container .input-wrap-2{
        display:flex;
        flex-direction: column;

}

.contact .container input:focus{
        outline:none;

}

.contact .container textarea:focus{
        outline:none;
}

.btn-nb-wrapper{
        text-align: center;
}


.carousel{
        position:center;
        width:40rem;
        height:27rem;
}

.carousel-indicators
{
        position:center;
}
.carousel-item
{       
        /*margin-left:321px;
        position: relative;
        width:84rem;
        */
        position:center;
        width:40rem;      
        height:27rem; 
        background-color: var(--primary);

}

.carouselCardwrapper{
        
        text-align: center;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
}

.carouselShare img{
        width:50px;

}

.carouselLogo img{
        width:50px;

}


.Project{

        padding-top:2rem;
        background: var(--dark);
        clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%)

}

.experience{
        padding-top:0rem;
        margin-top:-1.5rem;
}

.experience-heading{
        font-family:'Lato',sans-serif;
        color:var(--dark);
        font-size: 1.5rem;
        margin-bottom:0.5rem;
        font-weight:300;
}

.experience-heading span{
        font-family:'Lato',sans-serif;
        color:var(--primary);
        font-size: 1.5rem;
        margin-bottom:0.5rem;
        font-weight:300;
}

.experience-heading a{
        font-family:'Lato',sans-serif;
        color:var(--primary);
        font-size: 1.5rem;
        margin-bottom:0.5rem;
        font-weight:300;
}

.experience-subheading{
        font-family:'Lato',sans-serif;
        color:var(--ternary);
        font-size: 1rem;
        margin-bottom:0.5rem;
        font-weight:300;
}



footer{
        background: var(--dark);
        text-align: center;
        padding:2rem 0;
}

.footer-logo{
        margin-bottom: 1rem;
        width:175px;
}

.footer-icons{
        margin-bottom: 1rem;
        margin-left:-4rem;
}

.footer-copyright{
        color:var(--pure);
}

.carousel-experience{
        margin-top:6rem;
        margin-left:3rem;
        position:center;
        width:29.5rem;
        height:18rem;
}

.carousel-indicatorsExperience
{
        position:center;
}
.carousel-itemExperience
{       
        /*margin-left:321px;
        position: relative;
        width:84rem;
        */
        
        width:29.5rem;      
        height:18rem; 

        text-align:center;
        background:var(--pure);

}

.STEMlogo{
        padding-top:2rem;
}

.SAPFlogo{
        padding-top:3rem;
}


.SAPAlogo{
        padding-top:5rem;
}

.caroSecExp .carousel .carousel-control-next-icon { background-image: none;
        background-image: url("../images/download\ \(3\).png");
}
.caroSecExp .carousel .carousel-control-prev-icon { background-image: none;
        background-image: url("../images/download\ \(2\).png");
}

