@import 'utilities.css';
:root{
        --primary:#3DCFD3; /* bluish */
        --dark:#161616; /* black */
        --pure:#FFFFFF; /* white */
        --ternary:#898989; /* gray */
        --light:#F2F2F2; /* whitish */
}



/* Common class 
to default padding, margin properties etc */

*{
        padding:0;
        margin:0;
        box-sizing: border-box;
        -webkit-font-smoothing:antialiased; /*tt*/


}
/* declaring info about header */
header{
        background: var(--dark);
        clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%)


        
        
}

body{
    font-family:'Poppins',sans-serif;
    
}

/* Container class for nav */
.container{
        max-width:1152px;
        /* top right bottom left */
        padding:0 15px; 
        margin:0 auto;
}

header nav .left a{
        color: var(--pure);
        text-decoration: none;
        margin-right: 2rem;
        text-transform: uppercase;
        transition: all .3s ease; /* Code below deliberately missed */
}

/* curious for its function */
header nav{
        
    padding: 2rem 0;
}

header nav .branding{
        margin-right: 3rem;
}


header nav .left a:hover{
        color: var(--primary);
}

/* To move button away from links  */                 
header nav .right{
        margin-left: 10rem;
        
}
.middle .right {
        margin-right: 3rem;
}
.middle .left img{
        width: 300px;
        margin-right:1rem;
}

.middle .right h4{
        font-size:1.6rem;
        color:var(--primary);
        margin-bottom:0.5rem ;

}

.middle .right h1{
        color:var(--pure);
        font-size:4rem;
        font-weight:100;
        line-height:1.2;
        margin-bottom: 2rem;
}

.middle .right .paragraph {
        color: var(--pure);
        margin-right: 3rem;
        line-height: 1.9;
        margin-bottom: 2rem;
}

.middle .right span
{
        color:var(--primary);

}

.middle .right{
        margin-top: -7rem;
}

section
{
        padding: 6rem 0;
        background-color: var(--pure);
}

.about .container .left img{
        width:400px
}

.about .container .right .content h1{
        color:var(--dark);
        margin-bottom:1rem;
        font-size:4rem;
        font-weight:400;
}

.about .container .right .content h3{
        color:var(--dark);
        font-size: 3rem;
        margin-bottom:1rem;
        font-weight:400;
}

.about .container .right .content h1 span{
        color:var(--primary);
}

.about .container .left h1{
        color:var(--dark);
        margin-bottom:1rem;
        font-size:4rem;
        font-weight:400;
}

.about .container .right .content p{
        font-family:'Lato',sans-serif;
        color:var(--ternary);
        line-height:1.8;
}


.about .container .left h1{
        color:var(--primary);
}

.about .container .left h4{
        color:var(--dark);
        font-size: 2rem;
        margin-bottom:1rem;
        font-weight:400;
}

.about .container .left .SAPskills{
        margin-left : 1rem;
        margin-bottom:1rem;
}

.about .container .left .Generalskills{
        margin-left : 1rem;
        margin-bottom:1rem;
}