.flex{
    display: flex;
}

.items-center{
    align-items: center;

}

.justify-between{
    justify-content:space-between;
}

.justify-center{
    justify-content: center;
}

.btn-nb{
    padding:0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border:2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all .3s ease; /* code below left delib */
}

.btn-nb-primary{
    background:var(--primary);
    color:var(-- dark);
   
}

.btn-nb-primary:hover{
    background:transparent;
    border-color: var(--primary);
    color:var(--primary);
}


.btn-nb-secondary{
    background:transparent;
    border-color: var(--primary);
    color:var(--primary);        
}

.btn-nb-secondary:hover{
    background:var(--primary);
    color:var(--dark)
}

.flex-1{
    flex:1
}

.skills{
    margin-left : 1rem;
    margin-bottom: 1rem;
  
}

.skillsLi{
    margin-bottom: 0.5rem;
    font-family:'Lato',sans-serif;
}

.section-heading{
    color:var(--dark); 
    text-align: center;
    margin-bottom:1rem;
    line-height: 0.5;
 }
 .section-heading span{
     color:var(--primary);
 }

 .contactUsh5{
    color:var(--ternary)
 }

 .project-heading{
    margin-bottom:5rem;
    color:var(--primary); 
    text-align: center;
    
 }
 .project-heading span{
     color:var(--pure);
 }

 .projectNameCarousel{
    color:var(--dark); 
    font-family:'Lato',sans-serif;
    margin-top:0.5rem;
    font-size: 1.5rem;
    /*font-weight: 600;*/
    text-align: center;
    
 }
