.flex{
    display: flex;
}

.items-center{
    align-items: center;

}

.justify-between{
    justify-content:space-between;
}

.justify-center{
    justify-content: center;
}

.btn{
    padding:0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border:2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all .3s ease; /* code below left delib */
}

.btn-primary{
    background:var(--primary);
    color:var(-- dark);
   
}

.btn-primary:hover{
    background:transparent;
    border-color: var(--primary);
    color:var(--primary);
}


.btn-secondary{
    background:transparent;
    border-color: var(--primary);
    color:var(--primary);        
}

.btn-secondary:hover{
    background:var(--primary);
    color:var(--dark)
}

.flex-1{
    flex:1
}

.skills{
    margin-left : 1rem;
    margin-bottom: 1rem;
  
}

.skillsLi{
    margin-bottom: 0.5rem;
}